/* Reset.less
 * Props to Eric Meyer (meyerweb.com) for his CSS reset file. We're using an adapted version here	that cuts out some of the reset HTML elements we will never need here (i.e., dfn, samp, etc).
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul {
  list-style: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}
p {
  font-size: 1.2rem;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.5rem;
}
h5 {
  font-size: 2rem;
}
h6 {
  font-size: 1.5rem;
}
.container {
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
}
.brand {
  color: #e53118;
  letter-spacing: .8rem;
}
.brand span {
  color: #90ee90;
}
/* HEADER */
header {
  height: 90vh;
  background: url('/assets/home-img.jpg');
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header .page-title {
  font-size: 8rem;
  font-family: 'Abril Fatface', cursive;
  color: #e53118;
  margin-bottom: 2rem;
}
header .tagline {
  font-size: 2rem;
  color: #90ee90;
}
header .tagline strong {
  font-weight: bold;
  color: #e53118;
}
/* NAVIGATION */
.navbar {
  height: 60px;
  background: #113948;
}
.navbar .nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.navbar .nav-wrapper div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.navbar .nav-wrapper div .brand {
  text-decoration: none;
  font-family: 'Abril Fatface', cursive;
  font-size: 2rem;
}
.navbar .nav-wrapper div .nav-link {
  color: #e46f3e;
  text-decoration: none;
  font-size: 1.4rem;
}
.navbar .nav-wrapper div .nav-link:not(:first-child) {
  margin-left: 2rem;
}
.navbar .nav-wrapper div .nav-link:hover {
  color: #e53118;
}
.navbar .nav-wrapper div .active {
  color: #e53118;
}
/* INTRODUCTION */
.intro {
  height: 600px;
  padding: 2rem;
  background: url('/assets/funky-lines.png');
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.intro .intro-text {
  font-size: 2rem;
  z-index: 2;
  font-weight: bold;
  color: #113948;
  text-shadow: 0 2px 4px rgba(51, 51, 51, 0.8);
}
.intro .background {
  position: absolute;
  z-index: 1;
  color: #90ee90;
}
.intro .background .fas {
  font-size: 25rem;
  margin-top: -3rem;
  text-shadow: 0 2px 4px rgba(51, 51, 51, 0.8);
}
/* FEATURE SECTION */
.features {
  background: #113948;
  padding: 4rem;
}
.features .cards {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.features .cards .card {
  background: #e46f3e;
  height: 100%;
  width: 28%;
  padding: 2rem;
  border: solid 1px #113948;
}
.features .cards .card .card-title {
  font-size: 2rem;
}
/* FOOTER */
footer {
  color: #eae3e1;
  background: #113948;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
footer .brand {
  letter-spacing: 0.4rem;
}
footer .brand span {
  color: lightgreen;
}
