/* Reset.less
 * Props to Eric Meyer (meyerweb.com) for his CSS reset file. We're using an adapted version here	that cuts out some of the reset HTML elements we will never need here (i.e., dfn, samp, etc).
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul {
  list-style: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}
p {
  font-size: 1.2rem;
}
h1 {
  font-size: 6rem;
}
@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 992px) {
  h1 {
    font-size: 4.5rem;
  }
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 500px) {
  h1 {
    font-size: 3rem;
  }
}
h2 {
  font-size: 5.5rem;
}
@media only screen and (max-width: 1200px) {
  h2 {
    font-size: 4.5rem;
  }
}
@media only screen and (max-width: 992px) {
  h2 {
    font-size: 3.5rem;
  }
}
@media only screen and (max-width: 768px) {
  h2 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 500px) {
  h2 {
    font-size: 1.1rem;
  }
}
h3 {
  font-size: 4.5rem;
}
@media only screen and (max-width: 1200px) {
  h3 {
    font-size: 3.5rem;
  }
}
@media only screen and (max-width: 992px) {
  h3 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 768px) {
  h3 {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 500px) {
  h3 {
    font-size: 1.1rem;
  }
}
h4 {
  font-size: 3.5rem;
}
@media only screen and (max-width: 1200px) {
  h4 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 992px) {
  h4 {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 768px) {
  h4 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 500px) {
  h4 {
    font-size: 1.1rem;
  }
}
h5 {
  font-size: 2.5rem;
}
@media only screen and (max-width: 1200px) {
  h5 {
    font-size: 2.25rem;
  }
}
@media only screen and (max-width: 992px) {
  h5 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 768px) {
  h5 {
    font-size: 1.75rem;
  }
}
@media only screen and (max-width: 500px) {
  h5 {
    font-size: 1.1rem;
  }
}
h6 {
  font-size: 1.5rem;
}
@media only screen and (max-width: 1200px) {
  h6 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 992px) {
  h6 {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 768px) {
  h6 {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 500px) {
  h6 {
    font-size: 1.1rem;
  }
}
.container {
  overflow: hidden;
  width: 70%;
  height: 100%;
  margin: 0 auto;
}
@media only screen and (max-width: 1600px) {
  .container {
    width: 80%;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    width: 90%;
  }
}
@media only screen and (max-width: 992px) {
  .container {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
}
.brand {
  color: #e53118;
  letter-spacing: 0.8rem;
}
.brand span {
  color: lightgreen;
}
.width-100 {
  width: 100%;
}
.cards-container {
  display: flex;
  justify-content: space-evenly;
  align-items: none;
  flex-direction: row;
  width: 100%;
  margin-top: 16px;
  flex-wrap: wrap;
}
.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1.2rem;
  padding: 2rem;
  border: 0.25rem solid #175602;
  border-bottom: 0.5rem solid #175602;
  border-radius: 1rem;
  background-color: #daccc9;
  margin: 0.25rem;
}
.card .workTitle {
  text-align: center;
  font-size: 3rem;
  font-family: Didot, sans-serif;
}
.card .worker {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-direction: column;
  margin-top: 1.2rem;
}
.card .worker h3 {
  font-family: 'Open Sans', sans-serif;
}
.card .worker .tip {
  height: 2.5rem;
  width: 60%;
  color: white;
  background-color: #113948;
  margin: 0 auto;
}
.card .worker .img-container {
  padding-bottom: 10px;
}
.card .worker .img-container img {
  width: 100%;
}
.card .worker p {
  padding: 1rem;
  font-size: 1.2rem;
  line-height: 1.35;
  font-family: 'Open Sans', sans-serif;
}
.card .article {
  padding-top: 5%;
  text-align: center;
}
.card .article h4 {
  font-size: 2rem;
  margin: 0.25rem;
  font-family: 'Open Sans', sans-serif;
}
.card .article .tdWorker {
  background-color: #113948;
  color: white;
  width: 65%;
  height: 3rem;
  margin: 0 auto;
}
.card .article .tdImg {
  width: 100%;
  margin-bottom: 5%;
}
.card .article .tdImg img {
  width: 96%;
  border-radius: 0.5rem;
  border: 0.125rem solid #773426;
}
.card .article .recommendation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.card .article .recommendation .amount {
  border: 0.125rem solid black;
  border-radius: 0.5rem;
  width: 49%;
  text-align: center;
  padding: 5%;
  vertical-align: center;
  margin: 5%;
  background-color: white;
}
@media only screen and (max-width: 500px) {
  h3 {
    font-size: 2rem;
  }
}
body {
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}
body .container {
  width: 98%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 800px) {
  body .container {
    width: 85%;
  }
}
@media only screen and (min-width: 1000px) {
  body .container {
    width: 65%;
  }
}
body .container .header {
  padding-top: 5%;
}
body .container .header h1 {
  font-family: "Abril Fatface", serif;
  font-size: 4rem;
  font-weight: 500;
  color: #773426;
}
body .container .header h1 > span {
  color: #175602;
}
body .container .nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .container .cta {
  padding: 2%;
  font-family: 'Open Sans', sans-serif;
}
body .container .cta h2 {
  padding-bottom: 0.75rem;
  text-align: center;
  font-size: 2rem;
}
body .container .cta img {
  width: 94%;
  margin: 0 auto;
  padding: 2%;
  border-radius: 0.5rem;
}
body .container .footer {
  text-align: center;
  padding: 2%;
}
.article {
  position: relative;
  overflow: hidden;
  display: none;
}
.article .recommendation .numbers {
  font-family: 'Didot', sans-serif;
  font-size: 3rem;
}
.article-open {
  display: inline-block;
}
/* NAVIGATION */
.navbar {
  position: sticky;
  top: 0;
  z-index: 99;
  height: 5rem;
  background: #113948;
}
.navbar .nav-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
@media only screen and (max-width: 768px) {
  .navbar .nav-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.navbar .nav-wrapper div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.navbar .nav-wrapper div .brand {
  text-decoration: none;
  font-family: 'Abril Fatface', cursive;
  font-size: 2rem;
}
@media only screen and (max-width: 1200px) {
  .navbar .nav-wrapper div .brand {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 992px) {
  .navbar .nav-wrapper div .brand {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 768px) {
  .navbar .nav-wrapper div .brand {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 500px) {
  .navbar .nav-wrapper div .brand {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 768px) {
  .navbar .nav-wrapper div .brand {
    margin-bottom: 0.5rem;
  }
}
.navbar .nav-wrapper div .nav-link {
  position: relative;
  color: #e46f3e;
  text-decoration: none;
  font-size: 1.4rem;
}
@media only screen and (max-width: 1200px) {
  .navbar .nav-wrapper div .nav-link {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 992px) {
  .navbar .nav-wrapper div .nav-link {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 768px) {
  .navbar .nav-wrapper div .nav-link {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 500px) {
  .navbar .nav-wrapper div .nav-link {
    font-size: 1rem;
  }
}
.navbar .nav-wrapper div .nav-link:not(:first-child) {
  margin-left: 4rem;
}
@media only screen and (max-width: 768px) {
  .navbar .nav-wrapper div .nav-link:not(:first-child) {
    margin-left: 1rem;
  }
}
.navbar .nav-wrapper div .nav-link:hover {
  color: #e53118;
}
.navbar .nav-wrapper div .nav-link:before {
  content: "";
  position: absolute;
  background-color: #e53118;
  width: 40px;
  height: 4px;
  bottom: -0.5rem;
  left: 0;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
  border-radius: 4px;
}
.navbar .nav-wrapper div .nav-link:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
.navbar .nav-wrapper div .active {
  color: #e53118;
}
