@import 'reset';
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@import 'variables';
@import 'mixins';
@import 'base';
@import './pages/pages';
@import 'cards';

body {
    font-family:'Open Sans', sans-serif;
    .container {
        width:100%;
        margin:0 auto;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        // overflow:hidden;
        .header{
            padding-top: 5%;
            h1 {
                font-family: "Abril Fatface", serif;
                font-size: 4rem;
                font-weight: 500;
                color: #773426;
            }
              
            h1>span {
                color: #175602;
            } 
        }
        .nav {
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        div nav {
            display:flex;
            flex-direction:column;
            text-align: center;
            
            .menu-btn {
                min-width: 50%;
            }

            a {
                padding:3%;
            }
        }

        .cta {
            padding: 2%;
            font-family: 'Open Sans', sans-serif;
            
            h2{
                padding-bottom:.75rem;
            }

            img {
                width:94%;
                margin:0 auto;
                padding:2%;
                border-radius: .5rem;
            }
        }

        .footer {
            text-align: center;
            padding:2%;
        }
    }
}

body {
    font-family: 'Lato', sans-serif;
  
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    padding:5%;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

  .article {
    position: relative;
    overflow: hidden;
    display:none;
    .recommendation {
        .numbers{
            font-family:'Didot', sans-serif;
            font-size: 3rem;
        }
    }
  }
  .article-open {
    display:inline-block;
  }
}


/* NAVIGATION */
.navbar {
    position: sticky;
    top: 0;
    z-index: 99;
    height: 5rem;
    background: @japanese-indigo;
    .nav-wrapper {
      height: 100%;
      width: 100%;
      .flex-align(space-around);
      overflow:hidden;

      @media @break-sm {
        .flex-align(@dir: column);
      }
  
      div {
        .flex-align();
  
        .brand {
          text-decoration: none;
          font-family: @font-title;
          font-size: 2rem;
          .resp-text(1.6rem, 1.4rem, 1.2rem, 1rem);
  
          @media @break-sm {
            margin-bottom: 0.5rem;
          }
        }
  
        .nav-link {
          position: relative;
          color: @medium-vermilion;
          text-decoration: none;
          font-size: 1.4rem;
          .resp-text(1.4rem, 1.4rem, 1.2rem, 1rem);
  
          &:not(:first-child) {
            margin-left: 4rem;
          }
  
          @media @break-sm {
            &:not(:first-child) {
              margin-left: 1rem;
            }
          }
  
          &:hover {
            color: @vermilion;
          }
  
          &:before {
            content: "";
            position: absolute;
            background-color: @vermilion;
            width: 40px;
            height: 4px;
            bottom: -0.5rem;
            left: 0;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.3s ease-in-out 0s;
            border-radius: 4px;
          }
  
          &:hover:before {
            visibility: visible;
            transform: scaleX(1);
          }
        }
  
        .active {
          color: @vermilion;
        }
      }
    }
  }

h3{
    @media (max-width:500px) {
          font-size:2.5rem;
     }
}