@import 'reset';
@import 'variables';
@import 'mixins';
@import 'base';
@import 'cards';



body {
  font-family:'Open Sans', sans-serif;
  overflow: hidden;
    .container {
      width:98%;
      margin:0 auto;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;

      @media only screen and (min-width:800px){
        width:85%;
      }
      @media only screen and (min-width:1000px){
        width:65%;
      }

      .header{
          padding-top: 100px;
          h1 {
            font-family: "Abril Fatface", serif;
            font-size: 4rem;
            font-weight: 500;
            color: #773426;
          }
            
          h1>span {
            color: #175602;
          } 
      }
      .nav {
          display:flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }

      

      .cta {
          padding: 2%;
          font-family: 'Open Sans', sans-serif;
          
          h2{
            padding-bottom:.75rem;
            text-align: center;
            font-size:2rem;
          }

          img {
            width:94%;
            margin:0 auto;
            padding:2%;
            border-radius: .5rem;
          }
      }

      .footer {
        text-align: center;
        padding:2%;
      }
    }
}



  .article {
    position: relative;
    overflow: hidden;
    display:none;
    .recommendation {
        .numbers{
            font-family:'Didot', sans-serif;
            font-size: 3rem;
        }
    }
  }
  .article-open {
    display:inline-block;
  }




  @import 'navbar';
  .navbar{
    position:fixed;
    width:100%;
  }