/* HEADER */
header {
  height: 90vh;
  background: url('/assets/home-img.jpg');
  background-size: cover;
  background-attachment: fixed;
  .flex-align(@dir: column);

  .page-title {
    font-size: 8rem;
    font-family: @font-title;
    color: @vermilion;
    margin-bottom: 2rem;
  }

  .tagline {
    font-size: 2rem;
    color: @lincoln-green;

    strong {
      font-weight: bold;
      color: @vermilion;
    }
  }
}

/* NAVIGATION */
.navbar {
  height: 5rem;
  background: @japanese-indigo;

  .nav-wrapper {
    .flex-align(space-around);

    div {
      .flex-align();

      .brand {
        text-decoration: none;
        font-family: @font-title;
        font-size: 2rem;
      }

      .nav-link {
        color: @medium-vermilion;
        text-decoration: none;
        font-size: 1.4rem;

        &:not(:first-child) {
          margin-left: 4rem;
        }

        &:hover {
          color: @vermilion;
        }
      }

      .active {
        color: @vermilion;
      }
    }
  }
}

/* INTRODUCTION */
.intro {
  height: 600px;
  padding: 2rem;
  background: url('/assets/funky-lines.png');
  background-attachment: fixed;

  .flex-align();

  .intro-text {
    font-size: 2rem;
    z-index: 2;
    font-weight: bold;
    color: @japanese-indigo;
    text-shadow: 0 2px 4px rgba(51, 51, 51, 0.8);
  }

  .background {
    position: absolute;
    z-index: 1;
    color: @lincoln-green;

    .fas {
      font-size: 25rem;
      margin-top: -3rem;
      text-shadow: 0 2px 4px rgba(51, 51, 51, 0.8);
    }
  }
}

/* FEATURE SECTION */
.features {
  background: @japanese-indigo;
  padding: 8%;

  .cards {
    color: white;
    .flex-align(center);

    .card {
      background: @medium-vermilion;
      height: 100%;
      width: 25%;
      max-width: 500px;
      padding: 2rem;
      border-radius: 10px;

      &:not(:last-child) {
        margin-right: 4%;
      }

      .card-title {
        font-size: 2rem;
        margin-bottom: 2rem;
        padding-bottom: 1rem;
        border-bottom: solid 1px @japanese-indigo;
      }
    }
  }
}

/* FOOTER */
footer {
  color: @platinum;
  background: @japanese-indigo;
  height: 60px;
  .flex-align();

  .brand {
    letter-spacing: 0.4rem;

    span {
      color: lightgreen;
    }
  }
}